@model Cart

<div class="">
    @if(Model.Lines.Count > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalSum().ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-warning navbar-btn" asp-page="/Purchase"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">Shopping Cart</a>
</div>
