@{
    ViewBag.Title = "Book Store";
}

@model BookListViewModel
    <div class="row">
        <div class="col-2 bg-info jumbotron rounded">
            <p class="text-white">This is a bookstore where you can oddly find 10 of Spencer Hilton's Favorite books and 3 of Scott Pulley's</p>
            <div>
                <vc:navigation-menu />
            </div>
            
        </div>
       

               
        @foreach (var x in Model.Books)
        {
            <partial name="BookSummary" model="x" />           

        }
               
        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn text-white"
                page-class-normal="btn-outline-dark"
                page-class-selected="btn-light text-dark" page-url-genre="@Model.CurrentGenre"
                class="btn-group pull-right m-1 "></div>
    </div>
    