@model IEnumerable<string>

<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home"
   asp-route-genre="">
    Home
</a>


@foreach (string genre in Model)
{
    <a class="btn btn-block @(genre == ViewBag.SelectedGenre ? "btn-light text-dark" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-genre="@genre"
       asp-route-pageNum="1">
        @genre 
    </a>
}